.all {
  :global {
    .ant-statistic {
      border: black 2px solid;
    }
    .ant-statistic-title {
      padding-top: 30px;
      height: 90px;
      color: black;
      text-align: center;
      font-size: 22px;
    }

    .ant-statistic-content {
      height: 90px;
      text-align: center;
    }
  }
}

.top {
  height: 45%;
  margin-top: 10px;
}

.buttom {
  height: 45%;
  margin-top: 10px;
}
